
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.navigationBar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}


#map {
    height: 500px;
    width: 500px;
    float: center;


  }

#desc{
    float: right; 

}  